*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.chipContainer {
    
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    
}

.chipContainer::-webkit-scrollbar {
    display: none;
}

.navbar {
    background-color: #FAFFE6;
}

.navbar-active {
    background-color: #fff;
    border-bottom: 1px solid #978D9E;
    transition:  background-color 150ms ease-in-out 0s, border-bottom-color 150ms ease-in-out 0s
}

